@import url('fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    font-smooth: never !important;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-feature-settings: 'pnum' on, 'lnum' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss08' on,
        'ss09' on, 'ss11' on, 'ss10' on;
    }
  }
}

@layer utilities {
  .bg-moovies {
    background: radial-gradient(50% 50% at 50% 50%, #181818 0%, #171717 100%) !important;
  }
}
